$btn-padding-y: 8px !default;
$btn-padding-x: 17px !default;
$btn-svg-size: 16px;
$font-size-base: 14px !default;
$btn-font-weight: normal !default;
$cursor-disabled: not-allowed !default;
$btn-icon-padding-x: 6px;
$btn-icon-padding-y: $btn-padding-y - ($btn-svg-size - $font-size-base) / 2;
$btn-has-icon-padding-y: $btn-icon-padding-y;
$btn-border-radius-base: 4px;
$line-height-base: 1;
$border-width: 1px !default;
$btn-line-height: 1.25 !default;
$input-btn-border-width: $border-width !default;
$btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .08), 0 1px 1px rgba(0, 0, 0, .08);
$btn-text-shadow: 0 -1px 0 rgba(0, 0, 0, .1);
$btn-active-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
// ?? dao button active 使用的
// $btn-active-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
$btn-active-box-shadow: inset 0 0 8px rgba(0, 0, 0, .04);
$btn-disabled-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .9),
                  0 1px 0 rgba(255, 255, 255, .9);
$btn-disabled-text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
$black-dark: #3d444f;
$grey-light: #ccd1d9;
$buttons: (
  'blue': #3890ff,
  'green': #22c36a,
  'yellow': #f7b32b,
  'orange': #f56e25,
  'red': #f1483f,
  'purple': #7354e2,
  'grey': $grey-light
);
