<template>
  <div :class="[prefixCls, {'dao-dropdown-is-open': currentVisible}]" v-clickoutside:dao-select-dropdown="handleClose" @mouseenter="handleMouseenter" @mouseleave="handleMouseleave">
    <div :class="[prefixCls + '-rel']" ref="reference" @click="handleClick">
      <slot></slot>
    </div>
    <!-- <transition :name="transition"> -->
    <dao-drop v-show="currentVisible" :placement="placement" :append-to-body="appendToBody" ref="drop">
      <slot name="list"></slot>
    </dao-drop>
    <!-- </transition> -->
  </div>
</template>

<script>
  import daoDrop from '../dao-select/dropdown.vue';
  import clickoutside from '../../directives/clickoutside';
  import { oneOf } from '../../utils/assist';

  const prefixCls = 'dao-dropdown';

  export default {
    name: 'Dropdown',
    directives: { clickoutside },
    components: { daoDrop },
    props: {
      trigger: {
        validator(value) {
          return oneOf(value, ['click', 'hover', 'custom']);
        },
        default: 'hover'
      },
      placement: {
        validator(value) {
          return oneOf(value, ['top', 'top-start', 'top-end', 'bottom', 'bottom-start', 'bottom-end', 'left', 'left-start', 'left-end', 'right', 'right-start', 'right-end']);
        },
        default: 'bottom'
      },
      visible: {
        type: Boolean,
        default: false
      },
      appendToBody: {
        type: Boolean,
        default: false,
      },
    },
    // computed: {
    //   transition() {
    //     return ['bottom-start', 'bottom', 'bottom-end'].indexOf(this.placement) > -1 ? 'slide-up' : 'fade';
    //   }
    // },
    data() {
      return {
        prefixCls,
        currentVisible: this.visible,
      };
    },
    watch: {
      visible(val) {
        this.currentVisible = val;
      },
      currentVisible(val) {
        if (val) {
          this.$refs.drop.update();
        } else {
          this.$refs.drop.destroy();
        }
        this.$emit('on-visible-change', val);
      }
    },
    methods: {
      handleClick() {
        if (this.trigger === 'custom') return false;
        if (this.trigger !== 'click') {
          return false;
        }
        this.currentVisible = !this.currentVisible;
      },
      handleMouseenter() {
        if (this.trigger === 'custom') return false;
        if (this.trigger !== 'hover') {
          return false;
        }
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
          this.currentVisible = true;
        }, 250);
      },
      handleMouseleave() {
        if (this.trigger === 'custom') return false;
        if (this.trigger !== 'hover') {
          return false;
        }
        clearTimeout(this.timeout);
        this.timeout = setTimeout(() => {
          this.currentVisible = false;
        }, 150);
      },
      handleClose() {
        if (this.trigger === 'custom') return false;
        if (this.trigger !== 'click') {
          return false;
        }
        this.currentVisible = false;
      },
      hasParent() {
        const $parent = this.$parent.$parent.$parent;
        if ($parent && $parent.$options.name === 'Dropdown') {
          return $parent;
        } else {
          return false;
        }
      }
    },
    mounted() {
      // this.$on('on-click', (key) => {
      //   const $parent = this.hasParent();
      //   if ($parent) $parent.$emit('on-click', key);
      // });
      this.$on('on-hover-click', () => {
        const $parent = this.hasParent();
        if ($parent) {
          this.$nextTick(() => {
            if (this.trigger === 'custom') return false;
            this.currentVisible = false;
          });
          $parent.$emit('on-hover-click');
        } else {
          this.$nextTick(() => {
            if (this.trigger === 'custom') return false;
            this.currentVisible = false;
          });
        }
      });
      this.$on('on-haschild-click', () => {
        this.$nextTick(() => {
          if (this.trigger === 'custom') return false;
          this.currentVisible = true;
        });
        const $parent = this.hasParent();
        if ($parent) $parent.$emit('on-haschild-click');
      });
    }
  };
</script>

<style lang="scss">
  .dao-dropdown {
    display: inline-block;
  }
</style>
