@import './variables.scss';

.dao-radio-block {
  cursor: pointer;
  border-bottom: 1px solid $border-color;
  &.disabled {
    cursor: not-allowed;
  }
  &:first-child {
    border-top: 1px solid $border-color;
  }
  &:hover,
  &:focus {
    background-color: $radio-block-hover;
  }
  &.active {
    opacity: 1;
    background-color: $radio-block-active;
  }
  & > div {
    display: flex;
    align-items: center;
    padding: 20px 20px;
    font-size: 14px;
    line-height: 24px;
    input {
      margin-right: 30px;
    }
    .dao-radio-block-headline {
      color: $radio-block-headline-color;
      font-weight: 500;
    }
    .dao-radio-block-description {
      color: $radio-block-description-color;
      font-weight: 400;
    }
  }

  svg, img {
    fill: $grey-dark;
    width: 40px;
    height: 30px;
    margin-right: 15px;
    margin-left: -15px;
  }
}
