$font-base: 14px;

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-shadows:            true !default;
$enable-transitions:        false !default;
$enable-hover-media-query:  false !default;
